.thumbnail-selector {
  overflow: scroll;
  width: 106px;
  float: left;
  margin-left: 0;
  height: 80vh;
}

.thumbnail-list {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.thumbnail-item {
  display: inline-block;
  vertical-align: baseline;
  padding-bottom: 15px;
  height: 150px;
  width: 100%;
  background-color: #ffffff;
}

.dicom-viewer {
  width: 60%;
  display: inline-block;
  height: 80vh;
  margin-left: 20px;
}

.dicom-wrapper {
  margin-top: 20px;
}

#dicomImage {
  height: 500px;
}

.viewport-wrapper.active {
  border: 2px solid dodgerblue;
}

.loader{
margin-top: 150px;
}

